---
import { getCollection, getEntryBySlug } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import H1 from "../../components/H1.astro";
import Main from "../../components/Main.astro";
// need the prerender line if using ssr, because ssr can't use getStaticPaths
// export const prerender = true;

// export const getStaticPaths = async () => {
//   const posts = await getCollection("posts");
//   const paths = posts.map((post) => {
//     return {
//       params: {
//         slug: post.slug,
//       },
//       props: {
//         post,
//       },
//     };
//   });
//   return paths;
// };

// here would be a work-around
const {slug} = Astro.params;

// this slug will dynamically pass it into Astro.params, so we can comment out props and post
// type Props = {
//   post: CollectionEntry<"posts">;
// };

// const { post } = Astro.props;
const post = await getEntryBySlug("posts", slug as string);
// this shows an error at post, so
if (!post) {
  return Astro.redirect("/404");
}
const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <Main>
    <H1 text={post.data.title} />
    <Image
      src={post.data.image}
      width={1024}
      height={1024 / 1.5}
      alt={post.data.title}
      class="rounded-2xl shadow-xl mb-4 aspect-thumbnail object-cover"
    />
    <div class="prose prose-2xl overflow-visible relative mb-20">
      <Content />
    </div>
  </Main>
</Layout>
